<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Instalook</title>
</head>
<body>

<!-- NAV BAR -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Rejestracja i logowanie</a>
        </div>
    </div>
</nav>

<!-- REG FORM -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <br>

            <!-- success -->

            <div th:if="${param.success}">
                <div class="alert alert-success">Konto utworzone prawidłowo!</div>
            </div>

            <!-- fail -->

            <div th:if="${param.error}">
                <div class="alert alert-danger">Niepoprawna nazwa użytkownika lub hasło</div>
            </div>

            <!-- login bussy -->

            <div th:if="${param.bussy}">
                <div class="alert alert-danger">Login jest już zajęty, użyj innego</div>
            </div>

            <h1>Rejestracja</h1>

            <form id="form" th:action="@{/registration}" method="post" th:object="${instalook_users}" >

                <!-- Login field -->

                <div class="form-group">
                    <label for="login" class="control-label">
                        Login
                    </label>
                    <input id="login" name="loginField" class="form-control" th:field="*{login}" required
                           autofocus="autofocus">
                </div>

                <!-- Password field -->

                <div class="form-group">
                    <label for="password" class="control-label">
                        Hasło
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" required
                           autofocus="autofocus">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Zarejestruj</button>
                    <span>Masz już konto?</span>
                    <a href="/" th:href="@{/login}"> Zaloguj się tutaj</a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>