<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <title>Instalook</title>
</head>
<body>

<!-- NAV BAR -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" th:href="@{/}">Rejestracja i logowanie</a>
        </div>
    </div>
</nav>

<!-- REG FORM -->

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <br>

            <!-- success -->

            <div th:if="${param.success}">
                <div class="alert alert-success">Konto utworzone prawidłowo!</div>
            </div>

            <!-- fail error -->

            <div th:if="${param.error}">
                <div class="alert alert-danger">Niepoprawna nazwa użytkownika lub hasło</div>
            </div>
            <!-- fail passw -->

            <div th:if="${param.passw}">
                <div class="alert alert-danger">Hasła nie są identyczne</div>
            </div>

            <!-- fail bussy -->

            <div th:if="${param.bussy}">
                <div class="alert alert-danger">Login zajęty, użyj innego</div>
            </div>

            <div id="info">
                <div class="alert alert-info" >
                    <p id="text">Login powinien zawierać od 4 do 30 znaków. Pola nie mogą zawierać znaku pustego.</p>
                </div>
            </div>

            <h1>Rejestracja</h1>

            <form id="form" name="form" th:action="@{/registration}" method="post" th:object="${instalook_users}">

                <!-- Login field -->

                <div class="form-group">
                    <label for="login" class="control-label">
                        Login
                    </label>
                    <input id="login" name="loginField" class="form-control" th:field="*{login}" oninput="showHintLogin()"
                           autofocus="autofocus" placeholder="Wpisz login" required>
                </div>

                <!-- Password field -->

                <div class="form-group">
                    <label for="password" class="control-label">
                        Hasło
                    </label>
                    <input id="password" class="form-control" type="password" th:field="*{password}" oninput="showHintPassword()"
                           autofocus="autofocus" placeholder="Wpisz hasło" required>
                </div>

                <!-- second password field -->

                <div class="form-group">
                    <label for="secondPassword" class="control-label">
                        Powtórz hasło
                    </label>
                    <input id="secondPassword" class="form-control" type="password" oninput="showHintPassword()"
                           autofocus="autofocus" placeholder="Powtórz hasło" required>
                </div>

                <!-- button -->

                <div class="form-group">
                    <button type="button" class="btn btn-success" onclick="checkPasswordIdentical()">Zarejestruj</button>

                    <span>Masz już konto?</span>
                    <a href="/" th:href="@{/login}"> Zaloguj się tutaj</a>
                </div>

            </form>
        </div>
    </div>
</div>

<script th:inline="javascript">

    var info = document.getElementById( "info" );

    info.style.visibility = 'hidden';


    function validate() {

        var password = document.getElementById( "password" ).value;
        var login = document.getElementById ( "login" ).value;

        if (password.length > 5 && login.length > 3){

            var f = document.forms["form"];

            f.method = "POST";
            f.submit();
        }
        else{
            window.location.replace( "/registration?error" );
        }
    }


    function showHintLogin() {

        info.style.visibility = 'visible';

        document.getElementById( "text" ).innerHTML = "Login powinien zawierać od 4 do 30 znaków. Login nie może zawierać znaku pustego.";

    }


    function showHintPassword() {

        info.style.visibility = 'visible';

        document.getElementById( "text" ).innerHTML = "Hasło powinno zawierać od 6 do 30 znaków. Hasło nie może zawierać znaku pustego.";

    }


    function checkPasswordIdentical(){

        var firstPassword = document.getElementById( "password" ).value;
        var secondPassword = document.getElementById( "secondPassword" ).value;

        if ( firstPassword == secondPassword ){
            validate();
        }
        else{
            window.location.replace( "/registration?passw" );
        }
    }

</script>

</body>
</html>